.Progress {
  max-width: 1200px;
  margin: 64px auto;
}

.Progress h5,
.Progress_btn {
  color: rgb(47, 49, 50);
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 8px;
}

@media screen and (max-width: 1024px) {
  .progress {
    padding: 0 8px;
  }
}
